spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/oneclass
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate     # 스키마 변경 금지
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
          ssl.trust: smtp.gmail.com

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    org.hibernate.SQL: WARN
    org.springframework.security: WARN

#toss:
#  secret-key: ${TOSS_SECRET_KEY}