spring:
  application:
    name: oneclass

  datasource:
    url: jdbc:postgresql://localhost:5432/oneclass
    username: gnlandkmg
    password: Qwer1234!
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: abcb090125@gmail.com
    password: xvgvhswnzongbaiw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com
  mvc:
    path match:
      matching-strategy: ANT_PATH_MATCHER

  http:
    converters:
      preferred-json-mapper: jackson

server:
  port: 8080
  servlet:
    context-path: /

jwt:
  secret: "0123456789ABCDEF0123456789ABCDEF" # 32비트
  token-validity-in-seconds: 3600 # 1시간

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

toss:
  secret-key: test_sk_xxxxxxxxxxxxxxxxx